<footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <form action="/new" method="POST">
          <button type="submit" style="background:none!important; border:none; padding:0!important; color:#069; text-decoration:underline;">New Note</button>
        </form>
      </p>
      <p class="mb-1">Ray Zhang@2024</p>
    </div>
  </footer>