<footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <% if (!isAuthenticated) { %>
          <form action="/login" method="GET">
            <button class="btn btn-success rounded-pill px-4 py-2" type="submit">Sign in</button>
          </form>
        <%} else {%>
          <form action="/logout" method="POST">
            <button class="btn btn-danger rounded-pill px-4 py-2" type="submit">Sign out</button>
          </form>
        <%}%>
        
      </p>
      <p class="mb-1">Ray Zhang@<%= new Date().getFullYear() %></p>
    </div>
  </footer>