.svg-white {
    height: 1em;
    filter: brightness(0) invert(1);
}

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row .col-md-6 {
    display: flex;
    flex-direction: column;
  }
  
  .row .col-md-6 .border {
    flex: 1;
  }
  
  .newpost-button {
    display: flex;
    justify-content: center;
  }